@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-galaxy-bg text-galaxy-text font-sans overflow-hidden antialiased;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-galaxy-surfaceHighlight rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-galaxy-textMuted;
}